#twocont #tdclosed{
	content:normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/goalR.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/goalR.jpg', sizingMethod='scale')";
}
#twocont #tdopened{
	content:normal;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/goalG.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/goalG.jpg', sizingMethod='scale')";
}

#hudpages button{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#9a9a9a',GradientType=0 ); /* IE6-9 */
}
#hudpages button:active{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}
a.close{
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=90, Strength=3)
}