*{
	margin:0;
	padding:0;
}
#overlay7,#overlay3,#overlay1{
	display:none;
	z-index:-1;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0);
}
#overlay7{z-index:7}
#overlay3{z-index:3}
#overlay1{z-index:1;background:rgba(0,0,0,0.4);}
body{
	background:#000;
	color:#fff;
	font:12px/1 'Courier New', Courier, monospace;
	text-align:center;
}
#loading{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:#000;
	z-index:9;
}
#loadico{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-13px;
	margin-left:-69px;
}
#stats{
	position:absolute;
	text-align:right;
	top:10px;
	right:15px;
}
#links{
	position:absolute;
	left:10px;
	top:10px;
}
a#pauseico{
	display:inline-block;
	width:48px;
	height:48px;
	overflow:hidden;
	background-image:url(img/hud.png);
	background-position:0 0;
}
a#listico{
	display:inline-block;
	width:48px;
	height:48px;
	overflow:hidden;
	background-image:url(img/hud.png);
	background-position:48px 0;
}
a#listico:active{background-position:48px 48px;}
a#pauseico:active{background-position:0 48px;}
#links a:first-child{
	margin-right:8px;
}
#nav{
	position:absolute;
	top:15px;
	left:50%;
	margin-left:-57px;
}
#nav a{
	outline:none;
	/* background:#000;*/
	position:relative;
	display:inline-block;
	text-align:center;
	border:2px solid rgba(255,255,255,0.8);
	border-radius:50%;
	width:30px;
	height:30px;
	margin:0 3px;
	overflow:visible;
}
#nav a span{
	position:absolute;
	display:inline-block;
	width:16px;
	height:14px;
	top:8px;
	background:url(img/arrow.png);
}
a#ref span{
	width:20px;
	height:20px;
	top:5px;
	left:5px;
	background:url(img/ref.png);
	background-position:0 0;
}



a#right span{
	left:8px;
	background-position:0 0;
}
a#left span{
	right:8px;
	background-position:16px 0;
}
a#right:hover span{background-position:0 28px;}
a#left:hover span{background-position:16px 28px;}

a#right:active span{background-position:0 14px;}
a#left:active span{background-position:16px 14px;}

a#ref:hover span{background-position:0 40px;}
a#ref:active span{background-position:0 20px;}

#nav a:hover{
	border-color:#fff;
}
#nav a:active{
	border-color:#e3e300;
}
a#ref.anim span{
	-o-animation: rotate 1s 1;
	-ms-animation: rotate 1s 1;
	-moz-animation: rotate 1s 1;
	-webkit-animation: rotate 1s 1;
	animation: rotate 1s 1;
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
}
@-o-keyframes rotate{
	0%{-o-transform:rotate(0);}
	100%{-o-transform:rotate(360deg);}
}
@-ms-keyframes rotate{
	0%{-ms-transform:rotate(0);}
	100%{-ms-transform:rotate(360deg);}
}
@-moz-keyframes rotate{
	0%{-moz-transform:rotate(0);}
	100%{-moz-transform:rotate(360deg);}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform:rotate(0);}
	100%{-webkit-transform:rotate(360deg);}
}
@keyframes rotate{
	0%{transform:rotate(0);}
	100%{transform:rotate(360deg);}
}


h5{
	font-size:17px;
}
#hudpages button{
	color:#000;
	-webkit-gradient(linear, left top, left bottom,
		color-stop(0%,#cfcfcf),
		color-stop(100%,#9a9a9a)
	);
	background:-webkit-linear-gradient(top, #cfcfcf, #9a9a9a);
	background:-moz-linear-gradient(top, #cfcfcf, #9a9a9a);
	background:-ms-linear-gradient(top, #cfcfcf, #9a9a9a);
	background:-o-linear-gradient(top, #cfcfcf, #9a9a9a);
	background:linear-gradient(top, #cfcfcf, #9a9a9a);
	box-shadow: inset 0 1px 0 #fff;
	border:1px solid #aaa;
	border-top:none;
	font:17px 'Gruppo', Helvetica, sans-serif;
	display:block;
	width:100%;
	text-transform:uppercase;
	text-align:center;
	padding:10px;
	margin-top:10px;
}
#hudpages button:hover{
	text-decoration:none;
	color:#070;
}
#hudpages button:active{
	-webkit-gradient(linear, left bottom, left top,
		color-stop(0%,#cfcfcf),
		color-stop(100%,#9a9a9a)
	);
	background:-webkit-linear-gradient(bottom, #cfcfcf, #9a9a9a);
	background:-moz-linear-gradient(bottom, #cfcfcf, #9a9a9a);
	background:-ms-linear-gradient(bottom, #cfcfcf, #9a9a9a);
	background:-o-linear-gradient(bottom, #cfcfcf, #9a9a9a);
	background:linear-gradient(bottom, #cfcfcf, #9a9a9a);
}

#menu>div, #playing>div, #pages>div, #hudpages>div, #error{
	visibility:hidden;
	position:absolute;
	left:50%;
	top:50%;
	padding:20px;
	text-align:left;
	box-shadow:5px 5px 100px #000;
	max-width:700px;
}
#menu>div{z-index:2;}
#playing>div,#pages>div{z-index:4;}
#error{z-index:8;}

#hudpages>div{
	background:#6b6b6b;
}
#hudpages a#eg{
	display:none;
}

#error{background:#961c00;}
#erraddtxt{
	text-align:center;
	margin-top:10px;
	display:none;
}
#error button{
	padding:5px;
}
a.close{
	background:url('img/close16.png') no-repeat;
	position:absolute;
	top:-8px;
	right:-8px;
	width:16px;
	height:16px;
	box-shadow:-1px 1px 5px rgba(0,0,0,0.5);
	border-radius:50%;
}
#menu>div{
	background:#6d4b36;
	padding-top:15px;
}
h1,h2,h3{
	color:#222;
	font:20px/1 'Black Ops One', sans-serif;
	text-align:center;
}
h3{
	font-size:28px;
}
h4{
	font-family:Gruppo;
	font-size: 25px;
	line-height:1.5;
	clear:both;
}
ul{
	list-style:none;
}
li{
	margin:5px 0;
}
a{text-decoration:none;}

a:link{color:#d2cf00;}
a:visited{color:#d9d78c;}
a:hover{
	color:#eee;
	text-decoration:underline;
}
a:active{color:#ffff00;}


#menu ul{
	font:40px/1 'Emblema One', cursive;
	text-align:center;
}
#menu li{margin-top:15px;}
#menu li:first-child{margin-top:10px;}
#menu a:link{color:#ccc;}
#menu a:visited{color:#ccc;}
#menu a:hover{color:#ff0;}
#menu a:active{color:#ff0;}

#playing>div{background:#245868;}
#select>div{
	display:table-row;
}
#packs{
	padding-right:20px;
	display:table-cell;
	vertical-align:middle;
}
#levels{
	border-left:1px solid #59787f;
	padding-left:20px;
	display:table-cell;
	vertical-align:middle;
	min-width:302px;
	min-height:380px;
}
#levels p{
	text-align:center;
}
table{
	width:100%;
	text-align:left;
	margin:0 0 10px;
	border-spacing:0 3px;
}
#custom table{
	margin:0;
}
td,th{
	padding:4px 10px 6px;
}
th{
	text-align:left;
	font-size:11px;
}
tr a:hover{
	text-decoration:none;
}
tr td{
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}
tr td:first-child{
	padding-left:5px;
	border-left:1px solid transparent;
}
tr td:last-child{
	text-align:right;
	border-right:1px solid transparent;
}
tr:hover {
    cursor: pointer;
}
tr:hover:first-child{
	cursor:auto;
}
tr:hover a{
	color:#eee;
}
tr:hover td{
	border-color:#fff;
}
tr th:first-child{padding-left:7px;}
tr.completed td:last-child{
	color:#0f0;
}
#levels ol:first-child{
	text-align:center;
}
#levels div.list>div{min-height:250px;}
#levels div.list>div:first-child{min-height:0;}
ol{
	font-family:Gruppo;
	list-style:none;
	font-size:29px;
	margin-top:10px;
}
ol li{
	display:inline;
}
ol span, ol a{
	display:inline-block;
	width:38px;
	height:38px;
	line-height:38px;
	text-align:center;
	margin-left:10px;
}
ol span{
	border:2px solid #1d4753;
	background:#245868;
}
ol a{
	color:#fff;
	border:2px solid #703536;
	background:#9b494a;
}

ol a.comp{
	border:2px solid #847939;
	background:#9b8e49;
}

ol a:link{color:#fff;}
ol a:hover{border-color:#dadada;text-decoration:none;}
ol a:active{color:#fff;}
ol a:visited{color:#fff;}

ol a.comp{
	color:#ff0;
}

ol li:first-child span, ol li:first-child a{
	margin:0;
}

.listnav>a{
	float:left;
}
.listnav div{
	text-align:center;
	margin:15px 50px 0;
}
.listnav ul{
	display:inline;
}
.listnav li{
	display:inline;
}
.listnav a{
	display:inline-block;
	background:#9b8e49;
	width:12px;
	height:12px;
	margin:0 4px;
	vertical-align:middle;
}
.listnav div>a{
	background:url(img/lr.png);
	width:16px;
	height:25px;
}
.listnav div>a.right{
	background-position:16px 0;
}
#levels .listnav a{background:#4c8f3d;}

.listnav a.selected{background:#fff;}

#levels .listnav a.selected{background:#fff;}

#levels .listnav div>a{
	background:url(img/lr.png);
	width:16px;
	height:25px;
	background-position:0 25px;
}
#levels .listnav div>a.right{
	background-position:16px 25px;
}

#pages>div{
	background:#445f20;
}

dl,dd,dt{display:block;}
dt{
	float:left;
	clear:both;
	padding-right:5px;
}
dd{
	float:right;
	clear:right;
	padding-left:5px;
}
dt,dd{
	margin:5px 0;
}
#opts button{
	width:30px;
	height:1em;
	min-height:20px;
}
#opts a{
	text-decoration:none;
	color:#beddff;
}
#opts span.enabled{color:#0f0;}
#opts span.disabled{color:red;}
#opts a.uhoh{color:#ff7c7e;}

#howdivs>div{
	display:none;
	text-align:center;
	width:480px;
}
#howdivs>div#how1{
	display:block;
}
#howdivs>div>div{
	width:480px;
	height:256px;
	overflow:hidden;
}
#how p{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	height:56px;
	margin-bottom:15px;
}
#how img{
	-webkit-animation: move 4s steps(2, end) infinite;
	-moz-animation: move 4s steps(2, end) infinite;
	-ms-animation: move 4s steps(2, end) infinite;
	-o-animation: move 4s steps(2, end) infinite;
	animation: move 4s steps(2, end) infinite;
}
#how1 img{
	-webkit-animation: moveOne 4s steps(4, end) infinite;
	-moz-animation: moveOne 4s steps(4, end) infinite;
	-ms-animation: moveOne 4s steps(4, end) infinite;
	-o-animation: moveOne 4s steps(4, end) infinite;
	animation: moveOne 4s steps(4, end) infinite;
}

/* This is the animation code. */

@-webkit-keyframes move {
	0%{margin-top:0;}
	25%{margin-top:-512px;}
	25.001%{margin-top:-256px;}
	100%{margin-top:-256px;}
}
@-webkit-keyframes moveOne {
	0%{margin-top:0;}
	50%{margin-top:-1024px;}
	50.001%{margin-top:-768px;}
	100%{margin-top:-768px;}
}
@-moz-keyframes move {
	0%{margin-top:0;}
	25%{margin-top:-512px;}
	25.001%{margin-top:-256px;}
	100%{margin-top:-256px;}
}
@-moz-keyframes moveOne {
	0%{margin-top:0;}
	50%{margin-top:-1024px;}
	50.001%{margin-top:-768px;}
	100%{margin-top:-768px;}
}
@-ms-keyframes move {
	0%{margin-top:0;}
	25%{margin-top:-512px;}
	25.001%{margin-top:-256px;}
	100%{margin-top:-256px;}
}
@-ms-keyframes moveOne {
	0%{margin-top:0;}
	50%{margin-top:-1024px;}
	50.001%{margin-top:-768px;}
	100%{margin-top:-768px;}
}
@-o-keyframes move {
	0%{margin-top:0;}
	25%{margin-top:-512px;}
	25.001%{margin-top:-256px;}
	100%{margin-top:-256px;}
}
@-o-keyframes moveOne {
	0%{margin-top:0;}
	50%{margin-top:-1024px;}
	50.001%{margin-top:-768px;}
	100%{margin-top:-768px;}
}
@keyframes move {
	0%{margin-top:0;}
	25%{margin-top:-512px;}
	25.001%{margin-top:-256px;}
	100%{margin-top:-256px;}
}
@keyframes moveOne {
	0%{margin-top:0;}
	50%{margin-top:-1024px;}
	50.001%{margin-top:-768px;}
	100%{margin-top:-768px;}
}


p{
	line-height:1.3;
	margin:5px 0 0;
}
form{
	line-height:1.3;
}
legend{
	margin:5px 0;
	font:14px 'Black Ops One', sans-serif;
}
#SOKonly{
	display:none;
}
input[type="radio"]{
	margin:4px 4px 0 0;
}
fieldset{
	border:none;
	margin:6px 0 0;
}
textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: monospace;
	border:1px solid #000;
	background:#fff;
	margin:10px 0 0;
	display:block;
	width:100%;
	height:300px;
	padding:5px;
}
input[type="text"]{
	font-family: monospace;
	border:1px solid #000;
	background:#fff;
	margin:4px 0 0 6px;
	padding:2px;
}
#button{
	text-align:center;
}

#blur-hack{
	position:absolute;
	left:-99999px;
}

@-webkit-keyframes threesixty {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes threesixty {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-ms-keyframes threesixty {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}
@-o-keyframes threesixty {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@keyframes threesixty {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}