#overlay7,#overlay3,#overlay1{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	filter:alpha(opacity=30);
}

#twocont span.color{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	filter:alpha(opacity=30);
}

#twocont span.cm{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/cm.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/cm.jpg', sizingMethod='scale')";
}
#twocont span.box{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/box.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/box.png', sizingMethod='scale')";
}
#twocont span.char{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/char.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/char.png', sizingMethod='scale')";
}
#twocont span.metA{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/metA.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/metA.jpg', sizingMethod='scale')";
}
#twocont span.metB{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/metB.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/metB.jpg', sizingMethod='scale')";
}

#twocont #tdclosed{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/ieGR.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/ieGR.png', sizingMethod='scale')";
}
#twocont #tdopened{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/ieGG.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='2d/ieGG.png', sizingMethod='scale')";
}